/* Font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


/* Colors */
:root {
  --primary: #fcfaf1;
  --secondary: #4d6f3a;
  --tertiary: #283618;
}

/* Body */
body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0%;

  /* Background */
  background-image: url("bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


h2,
h3 {
  font-weight: 400;
}


/* Main Content */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  flex: 1;
  min-height: 52vh;
}

/* Header */
.app-header {
  padding-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-title {
  font-size: 57px;
  margin: 0;
  color: rgb(15, 41, 9);
}

.app-header h2 {
  color: var(--primary);
  height: 70%;
  margin: 0%;
}

/* SearchBar */
.search-container {
  display: grid;
  grid-template-columns: 52vw;
  grid-template-rows: 110px 55px 120px;
  justify-items: center;
  align-items: center;
}

.search-form {
  display: grid;
  grid-template-columns: 45vw 7vw;
  grid-template-rows: 110px;
  justify-items: center;
  align-items: center;
}

.show-dropdowns {
  grid-column: span 2;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary);
  font-size: 17px;
  border: none;
  margin-left: 10;
}

input:focus {
  border: none;
  outline: 0;
}

.dropdowns input {
  font-family: 'Titillium Web', sans-serif;
  color: rgb(91, 89, 89);
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: var(--primary);
  width: 200%;
  height: 60%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.search-input {
  font-family: 'Titillium Web', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: var(--primary);
  width: 95%;
  height: 30%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.search-button {
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  background-color: var(--tertiary);
  color: var(--primary);
  border: none;
  padding: 12px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 85%;
  height: 45%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}


.search-button:hover {
  background-color: var(--secondary);
}

.result-box {
  padding: 2.5vw;
  color: #250407;
  min-height: 20vh;
  width: 48.5vw;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(239, 240, 233, 0.902);
  overflow: hidden;
  margin-bottom: 4%;
}

.result-link {
  margin-bottom: 0%;
}

.result-link:link {
  text-decoration: underline;
  color: rgb(15, 41, 9);
}



a {
  text-decoration: none;
}

.result-title {
  /* padding: 3% 3% 0% 3%; */
  margin: 0%;
  /* Ensure titles don't overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 30px;
  text-shadow: none;
  transition: text-shadow 0.15s ease;
}

.result-title:hover {
  text-shadow: 1px 1px 1px lightblue;
  color: #000;
}


.result-details {
  display: grid;
  grid-template-columns: repeat(2, 20vw);
  grid-template-rows: 15vh;
  grid-gap: 2%;
  justify-items: left;
  align-items: center;
}

.result-description {
  margin: 0%;
  /* Ensure description text doesn't overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1vh;
  column-gap: 0.5vw;
  margin-bottom: 1vh;
}

.dropdown-container {
  display: grid;
  grid-template-columns: 18vw 18vw 18vw;
  grid-template-rows: 55px 110px;
  justify-items: center;
  align-items: center;
  margin-bottom: 7vh;
}

.dropdowns {
  display: grid;
  grid-template-columns: 17vw 17vw 17vw;
  grid-template-rows: 40px 80px;
  justify-items: left;
  align-items: center;
  margin-bottom: 3vh;
}


/* .dropdowns {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  justify-items: center;
  align-items: center;
} */

/* Dropdown Select Menu*/
.custom-select {
  position: relative;
  min-width: 200px;
  max-width: 100%;
  font-size: 1.15rem;
  color: #000;
  /* margin-top: 1.5rem;
  margin-bottom: 3rem; */
}

.select-button {
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 17px;
  /* background: linear-gradient(to bottom, var(--primary), rgb(202, 207, 186)); */
  background-color: var(--primary);
  color: rgb(91, 89, 89);
  padding: 8px 12px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  cursor: pointer;
}

.pagination li button {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  min-width: 2.3vw;
  font-size: 14px;
  /* background: linear-gradient(to bottom, var(--primary), rgb(202, 207, 186)); */
  background-color: var(--primary);
  color: rgb(91, 89, 89);
  padding: 4px 4px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  cursor: pointer;
}

.select-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-value {
  text-align: left;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--tertiary);
  transition: transform ease-in-out 0.3s;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--primary);
  border: 1px solid #caced1;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.select-dropdown:focus-within {
  box-shadow: 0 10px 25px var(--tertiary);
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: rgb(165, 185, 151);
  border-radius: 25px;
}


.select-dropdown input:checked~label {
  background-color: rgb(235, 238, 220);
  border-radius: 10px;
  color: black;
}

.select-dropdown li:hover,
.select-dropdown li:hover input:checked~label {
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--primary);
}


.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

.custom-select.active .arrow {
  transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.app-footer {
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  flex-shrink: 0;
}

.distance {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
}