/* Font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


/* Colors */
:root {
  --primary: #fcfaf1;
  --secondary: #4d6f3a;
  --tertiary: #283618;
}

/* Body */
body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 15%;
  margin: 0%;

  /* Background */
  background-image: url("bg9.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h2,
h3 {
  font-weight: 400;
}


/* Main Content */
main {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 2%;
  /* Adjusted margin-top */
}

/* Header */
.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  /* Adjusted margin-bottom */
}



.app-title {
  font-size: 57px;
  /* color: -webkit-linear-gradient(#bf78a9 30%, #c2d84b); */
  color: rgb(15, 41, 9);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.17), 
    0px -4px 10px rgba(255,255,255,0.3); */
  /* font-size: 36px; */
  margin: 0;
}

/* SearchBar */
.search-container {
  display: grid;
  grid-template-columns: 600px 100px;
  grid-template-rows: repeat(2, 110px);
  grid-gap: 5%;
  justify-items: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
}

input:focus {
  border: none;
  outline: 0;
}


.search-input {
  font-family: 'Titillium Web', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: var(--primary);
  width: 100%;
  height: 30%;
}

.search-button {
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  background-color: var(--tertiary);
  color: var(--primary);
  border: none;
  padding: 12px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 45%;
}



.search-button:hover {
  background-color: var(--secondary);
}

.result-box {
  color: #250407;
  height: 25vh;
  width: 50vw;
  margin: 20px auto;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, var(--primary), rgb(165, 185, 151));
  overflow: hidden;
}

.result-title,
.result-category {
  padding: 2% 3% 0% 3%;
  margin: 0%;
  /* Ensure titles don't overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-description {
  margin: 1% 3% 2% 3%;
  /* Ensure description text doesn't overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;/* number of lines to display */
  -webkit-box-orient: vertical;
}

.dropdowns {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 110px);
  grid-gap: 2%;
  justify-items: center;
  align-items: center;
}

/* Dropdown Select Menu*/
.custom-select {
  position: relative;
  min-width: 200px;
  max-width: 100%;
  font-size: 1.15rem;
  color: #000;
  margin-top: 3rem;
}

.select-button {
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  font-size: 1.15rem;
  background: linear-gradient(to bottom, var(--primary), rgb(202, 207, 186));
  padding: 0.675em 1em;
  border: 1px solid #caced1;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-value {
  text-align: left;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--tertiary);
  transition: transform ease-in-out 0.3s;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--primary);
  border: 1px solid #caced1;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.select-dropdown:focus-within {
  box-shadow: 0 10px 25px var(--tertiary);
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}
.select-dropdown::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: rgb(165, 185, 151);
  border-radius: 25px;
}


.select-dropdown input:checked ~ label{
  background-color: rgb(235, 238, 220);
  border-radius: 10px;
  color: black;
}

.select-dropdown li:hover,
.select-dropdown li:hover input:checked  ~ label {
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--primary);
}


.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

/* interactivity */

.custom-select.active .arrow {
  transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}