/* Font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');


/* Colors */
:root {
  --primary: #fcfaf1;
  --secondary: #4d6f3a;
  --tertiary: #283618;
}

/* Body */
body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 15%;
  margin: 0%;

  /* Background */
  background-image: url("bg9.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h2,
h3 {
  font-weight: 400;
}


/* Main Content */
main {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 2%;
  /* Adjusted margin-top */
}

/* Header */
.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  /* Adjusted margin-bottom */
}



.app-title {
  font-size: 57px;
  /* color: -webkit-linear-gradient(#bf78a9 30%, #c2d84b); */
  color: rgb(15, 41, 9);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.17), 
    0px -4px 10px rgba(255,255,255,0.3); */
  /* font-size: 36px; */
  margin: 0;
}

/* SearchBar */
.search-container {
  display: grid;
  grid-template-columns: 600px 100px;
  /* Two columns of equal width */
  grid-template-rows: repeat(2, 110px);
  /* 2 rows with a fixed height of 150px each */
  grid-gap: 5%;
  /* Gap between grid items */
  justify-items: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
}

input:focus {
  border: none;
  outline: 0;
}


.search-input {
  font-family: 'Titillium Web', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: var(--primary);
  width: 100%;
  height: 30%;
}

.search-button {
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  background-color: var(--tertiary);
  color: var(--primary);
  border: none;
  padding: 12px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 45%;
}



.search-button:hover {
  background-color: var(--secondary);
}

.result-box {
  color: #250407;
  height: 25vh;
  width: 50vw;
  margin: 20px auto;
  margin-top: 20px;
  border-radius: 15px;
  /* border: 2px solid black; */
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, var(--primary), rgb(215, 225, 207));
  overflow: hidden;
  /* Prevents content overflow */
}

.result-title,
.result-category {
  padding: 2% 3% 0% 3%;
  margin: 0%;
  /* Ensure titles don't overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-description {
  margin: 1% 3% 2% 3%;
  /* Ensure description text doesn't overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to display */
  -webkit-box-orient: vertical;
}


.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
}


.selected-option {
  border-radius: 10px;
  padding: 8px 12px;
  background-color: rgb(215, 225, 207);
}


.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* border: 2px solid var(--tertiary); */
  /* border-top: none; */
  border-radius: 0 0 10px 10px;
  background-color: rgb(215, 225, 207);
  display: none;
}

.options.active {
  display: block;
}

.options li {
  padding: 8px 12px;
  cursor: pointer;
  /* border-radius: 5px; */
}

.options li:hover {
  background-color: var(--secondary);
  color: var(--primary);
}